.section {
  padding: 0 80px;
  display: flex;
  flex-direction: column;

  .hero {
    height: calc(100vh - 120px);
    margin: auto 0;

    .title {
      margin-top: 100px;
      padding: 10px 0;

      h1 {
        font-size: 120px;
        font-weight: bold;
        font-family: sans-serif;
        line-height: 120px;
      }
    }

    .description {
      max-width: 45%;
      margin: 40px 0;

      h2 {
        font-size: 20px;
      }
    }

    .callto {
      button {
        letter-spacing: 2px;
        font-size: 20px;
        padding: 25px;

        &:last-child {
          margin-left: 25px;
        }
      }
    }

    .protip {
      margin: 60px 0;
      max-width: 25%;
    }
  }

  .centerCard {
    margin: 0 auto;
    display: flex;
    width: 80%;
    height: 240px;
    border-radius: 10px;
    padding: 40px;
    background-color: hsl(var(--primary));
    color: hsl(var(--secondary));

    .left {
      margin: auto 0;
      padding: 0 10px;
      flex: 1;
      text-wrap: wrap;
      font-size: 40px;
      line-height: 44px;
    }

    .right {
      margin: auto 0;
      padding: 0 10px;
      flex: 1;
      text-wrap: wrap;
      font-size: 18px;
    }
  }

  .title {
    margin: 100px auto 0 auto;
    font-size: 60px;
    font-weight: 600;
  }

  .products {
    margin-top: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10%;
    row-gap: 140px;
    width: 80%;
    margin: 60px auto 0 auto;
  }
}
